<section><!-- ng-controller="CarController"> -->
	<article id="list-car" ng-controller="getCar">
		<h2>List of Car</h2>
		<nav>
			<ul>
				<li>
					<button class="btn btn-default" ng-click="addCar()" title="Add car"><img alt="Add car" src="../img/add.svg" /></button>
				</li>
			</ul>
		</nav>
		<div class="well" ng-repeat="car in cars">
			<div class="content">
				<p>Model : <span ng-bind="car.model"></span></p>
				<p>Nb of seats : <span ng-bind="car.nbOfSeats"></span></p>
				<p>Has A/C : <span ng-bind="car.hasAC"></span></p>
				<p>Is smoker : <span ng-bind="car.isSmoker"></span></p>
				<p>Has radio : <span ng-bind="car.hasRadio"></span></p>
			</div>
			<div class="btn-group-vertical">
				<button class="btn btn-default" ng-click="updateCar(car.id)" title="Update car">
					<img alt="Update car" src="../img/update.svg" />
				</button>
				<button class="btn btn-default" ng-click="popinDeleteCar(car.id, car.model)" title="Delete car">
					<img alt="Delete car" src="../img/delete.svg" />
				</button>
			</div>
		</div>
	</article>
	<article id="add-update-car">
		<h2 id="add-car">Add Car</h2>
		<h2 id="update-car">Update Car</h2>
		<form name="carInfo">
			<div>
				<input class="form-control" name="id" type="hidden" ng-model="id" />
			</div>
			<div>
				<label for="model">Model : </label>
				<input class="form-control" name="model" type="text" ng-model="model" required />
			</div>
			<div>
				<label for="nbOfSeats">Nb of seats : </label>
				<div class="styled-select">
					<select name="nbOfSeats" ng-model="nbOfSeats" required ng-options="i for i in [] | range:2:10"></select>
				</div>
			</div>
			<div class="checkbox">
				<input name="hasAC" type="checkbox" ng-model="hasAC" />
				<p>Has A/C</p>
			</div>
			<div class="checkbox">
				<input name="isSmoker" type="checkbox" ng-model="isSmoker" />
				<p>Is smoker</p>
			</div>
			<div class="checkbox">
				<input name="hasRadio" type="checkbox" ng-model="hasRadio" />
				<p>Has radio</p>
			</div>
			<div>
				<button class="btn btn-default" id="btnAddCar" ng-click="putCar()"
					ng-disabled="!(carInfo.model.$valid && carInfo.nbOfSeats.$valid)">Add Car</button>
				<button class="btn btn-default" id="btnUpdateCar" ng-click="postCar()"
					ng-disabled="!(carInfo.model.$valid && carInfo.nbOfSeats.$valid)">Update Car</button>
			</div>
		</form>
	</article>
</section>