<section><!-- ng-controller="CommentController" -->
	<article id="list-trip">
		<h2>List of Old Trips</h2>
		<nav class="navbar navbar-default">
			<form name="tripSearch" class="navbar-form">
				<div class="form-group navbar-left">
					<label for="start">Start city: </label>
					<input class="form-control" name="start" type="text" ng-model="start" placeholder="Start city" required />
				</div>
				<div class="form-group navbar-left">
					<label for="end">End city: </label>
					<input class="form-control" name="end" type="text" ng-model="end" placeholder="End city" required />
				</div>
				<div class="form-group navbar-left">
					<label for="dateMin">From date: </label>
					<div class="input-group datepicker-field">
						<input name="date" class="form-control" type="text" ng-model="dateMin" datepicker-popup="dd-MMMM-yyyy" is-open="openedMin" show-button-bar="false" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="openMin($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</div>
				</div>
				<div class="form-group navbar-left">
					<label for="dateMax">To date: </label>
					<div class="input-group datepicker-field">
						<input name="date" class="form-control" type="text" ng-model="dateMax" datepicker-popup="dd-MMMM-yyyy" is-open="openedMax" show-button-bar="false" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="openMax($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</div>
				</div>
				<div class="form-group btn-group navbar-right">
					<button class="btn btn-default" ng-click="searchTrips()" 
						ng-disabled="!(tripSearch.start.$valid && tripSearch.end.$valid)">Search trip</button>
					<button class="btn btn-default" ng-click="getTrips()">Clear search</button>
				</div>
			</form>
		</nav>
		<div ng-controller="getTrips">
			<div class="well" ng-repeat="trip in trips">
				<div class="content">
					<p>Trip start: <span ng-bind="trip.start"></span></p>
					<p>Stops: </p>
					<ul ng-repeat="stop in trip.stops">
						<li><span ng-bind="stop"></span></li>
					</ul>
					<p>Trip end: <span ng-bind="trip.end"></span></p>
					<p>Start date: <span ng-bind="trip.startDate"></span></p>
					<p>Driver: <span ng-bind="trip.car.driver.username"></span></p>
					<p>Car model:<span ng-bind="trip.car.model"></span></p>
					<button class="btn btn-default" ng-click="trip.isCollapsed = !trip.isCollapsed">Show comment</button>
				</div>
				<div class="btn-group-vertical">
					<button class="btn btn-default" ng-click="addComment(trip.id)" ng-hide="isCommented(trip.id)" title="Add comment">
						<img src="img/add.svg" alt="Add comment" />
					</button>
				</div>
				<hr />
				<div collapse="trip.isCollapsed">
					<h2>List of Comments</h2>
					<div class="well well-lg" ng-repeat="comment in trip.comments | filter:q as results">
						<div class="content">
							<rating readonly="true" ng-model="comment.rating"></rating>
							<p ng-bind="comment.comments"></p>
						</div>
						<div class="btn-group-vertical" ng-show="comment.person.username == username">
							<button class="btn btn-default" ng-click="updateComment(comment.id, trip.id)" title="Update comment">
								<img src="img/update.svg" alt="Update comment" />
							</button>
							<button class="btn btn-default" ng-click="popinDeleteComment(comment.id, comment.comments)" title="Delete comment">
								<img src="img/delete.svg" alt="Delete comment" />
							</button>
						</div>
					</div>
					<p class="well well-lg" ng-if="results.length == 0">
						<strong>No comment...</strong>
					</p> 
				</div>
		</div>
	</article>
	<article id="add-update-comment">
		<h2 id="add-comment">Add a comment</h2>
		<h2 id="update-comment">Update this comment</h2>
		<form name="commentInfo">
			<div>
				<input name="id" type="hidden" ng-model="id" />
			</div>
			<div>
				<input name="idTrip" type="hidden" ng-model="idTrip" />
			</div>
			<div>
				<label for="rating">Rating: </label>
				<rating name="rating" ng-model="rating" required></rating>
				<p class="label" ng-class="{'label-warning': rating<2, 'label-info': rating>=2 && rating<4, 'label-success': rating>=4}">
					<span ng-bind="rating"></span> / 5
				</p>
			</div>
			<div>
				<label for="comment">Comment: </label>
				<textarea class="form-control" cols="200" rows="8" maxlength="500" name="comment" type="text" ng-model="comment" required></textarea>
			</div>
			<div>
				<button class="btn btn-default" id="btnAddComment" ng-click="putComment()"
					ng-disabled="!(commentInfo.rating.$valid && commentInfo.comment.$valid)">Add Comment</button>
				<button class="btn btn-default" id="btnUpdateComment" ng-click="postComment()"
					ng-disabled="!(commentInfo.rating.$valid && commentInfo.comment.$valid)">Update Comment</button>
			</div>
		</form>
	</article>
</section>