<section><!-- ng-controller="CnxController"> -->
	<article id="login">
		<form name="cnx">
			<div>
				<label for="login">Login : </label>
				<input class="form-control" name="login" type="text" ng-model="login" required />
			</div>
			<div>
				<label for="login">Password : </label>
				<input class="form-control" name="password" type="password" ng-model="password" required />
			</div>
			<div class="btn-group">
				<button class="btn btn-default" ng-click="postLogin()"
					ng-disabled="!(cnx.login.$valid && cnx.password.$valid)">Connection</button>
				<button class="btn btn-default" ng-click="signUp()">SignUp</button>
			</div>
		</form>
	</article>
</section>