<section><!-- ng-controller="CnxController"> -->
	<article id="signup">
		<form name="userInfo">
			<div>
				<label for="login">Login : </label>
				<input name="login" type="text" class="form-control"
					ng-model="login" required />
			</div>
			<div>
				<label for="password">Password : </label>
				<input name="password" class="form-control"
					type="password" ng-model="password" required />
			</div>
			<div>
				<label for="confirmPassword">Confirmation password : </label>
				<input class="form-control"
					name="confirmPassword" type="password" ng-model="confirmPassword"
					required /> <img alt="errorPassword" src="../img/error.png"
					ng-show="password != confirmPassword">
			</div>
			<div>
				<label for="mail">E-mail : </label>
				<input name="mail" type="email" class="form-control" ng-model="mail" required />
			</div>
			<div>
				<label for="confirmMail">Confirmation e-mail : </label>
				<input class="form-control"
					name="confirmMail" type="email" ng-model="confirmMail" required />
				<img alt="errorMail" src="../img/error.png"
					ng-show="mail != confirmMail">
			</div>
			<div>
				<label for="phone">Phone number : </label>
				<input class="form-control" name="phone" ng-change="printPhone()" ng-pattern="/^([0-9]{2} ){4}([0-9]{2})$/" type="text" ng-model="phone" required />
			</div>
			<div>
				<button class="btn btn-default" ng-click="putRegister(login, password, mail, phone)"
					ng-disabled="!(userInfo.login.$valid && userInfo.password.$valid && userInfo.confirmPassword.$valid && userInfo.mail.$valid && userInfo.confirmMail.$valid && userInfo.phone.$valid && password == confirmPassword && mail == confirmMail)">SignUp</button>
			</div>
		</form>
	</article>
</section>