<section><!-- ng-controller="TripController" -->
	<article id="list-trip">
		<h2>List of Trips</h2>
		<nav>
			<ul>
				<li>
					<button class="btn btn-default" ng-click="addTrip()" title="Add trip"><img alt="Add trip" src="../img/add.svg" /></button>
				</li>
			</ul>
		</nav>
		<nav class="navbar navbar-default">
			<form name="tripSearch" class="navbar-form">
				<div class="form-group navbar-left">
					<label for="start">Start city: </label>
					<input class="form-control" name="start" type="text" ng-model="start" placeholder="Start city" required />
				</div>
				<div class="form-group navbar-left">
					<label for="end">End city: </label>
					<input class="form-control" name="end" type="text" ng-model="end" placeholder="End city" required />
				</div>
				<div class="form-group navbar-left">
					<label for="dateMin">From date: </label>
					<div class="input-group datepicker-field">
						<input name="date" class="form-control" type="text" ng-model="dateMin" datepicker-popup="dd-MMMM-yyyy" is-open="openedMin" show-button-bar="false" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="openMin($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</div>
				</div>
				<div class="form-group navbar-left">
					<label for="dateMax">To date: </label>
					<div class="input-group datepicker-field">
						<input name="date" class="form-control" type="text" ng-model="dateMax" datepicker-popup="dd-MMMM-yyyy" is-open="openedMax" show-button-bar="false" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="openMax($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</div>
				</div>
				<div class="form-group btn-group navbar-right">
					<button class="btn btn-default" ng-click="searchTrips()" 
						ng-disabled="!(tripSearch.start.$valid && tripSearch.end.$valid)">Search trip</button>
					<button class="btn btn-default" ng-click="getTrips()">Clear search</button>
				</div>
			</form>
		</nav>
		<div ng-controller="getTrips">
			<div class="well" ng-repeat="trip in trips">
				<div class="content">
					<p>Trip start: <span ng-bind="trip.start"></span></p>
					<p>Stops: </p>
					<ul ng-repeat="stop in trip.stops">
						<li><span ng-bind="stop"></span></li>
					</ul>
					<p>Trip end: <span ng-bind="trip.end"></span></p>
					<p>Start date: <span ng-bind="trip.startDate"></span></p>
					<p>Driver: <span ng-bind="trip.car.driver.username"></span></p>
					<p>Car model:<span ng-bind="trip.car.model"></span></p>
				</div>
				<div class="btn-group-vertical" ng-show="trip.car.driver.username == username">
					<button class="btn btn-default" ng-click="updateTrip(trip.id)" title="Update trip">
						<img alt="Update trip" src="../img/update.svg" />
					</button>
					<button class="btn btn-default" ng-click="popinDeleteTrip(trip.id, trip.start, trip.end, trip.startDate)" title="Delete trip">
						<img alt="Delete trip" src="../img/delete.svg" />
					</button>
				</div>
				<div class="btn-group-vertical" ng-show="trip.car.driver.username != username">
					<button class="btn btn-default" ng-click="popinJoinTrip(trip.id, trip.start, trip.end, trip.startDate)" alt="Join trip" 
						ng-show="!isPassenger(trip.id)" title="Join trip">Join</button>
					<button class="btn btn-default" ng-click="popinUnjoinTrip(trip.id, trip.start, trip.end, trip.startDate)" alt="Unjoin trip"
						ng-show="isPassenger(trip.id)" title="Unjoin trip">Leave</button>
				</div>
			</div>
		</div>
	</article>
	<article id="add-update-trip">
		<h2 id="add-trip">Add a trip</h2>
		<h2 id="update-trip">Update this trip</h2>
		<form name="tripInfo">
			<div>
				<input class="form-control" name="id" type="hidden" ng-model="id" />
			</div>
			<div ng-controller="getCar">
				<label for="car">Car used in trip: </label>
				<div class="styled-select">
					<select name="car" ng-model="$parent.car" required ng-options="car.model for car in cars track by car.id"></select>
				</div>
			</div>
			<div>
				<label for="start">Start city: </label>
				<input class="form-control" name="start" type="text" ng-model="start" required />
			</div>
			<div>
				<label for="stops">Stops : </label>
				<!-- custom graphical component -->
				<div list-text-box name ="stops" ng-model="stops"></div>
			</div>
			<div>
				<label for="end">End city: </label>
				<input class="form-control" name="end" type="text" ng-model="end" required />
			</div>
			<div>
				<label for="date">Start date: </label>
				<div class="input-group datepicker-field">
					<input name="date" class="form-control" type="text" ng-model="date" datepicker-popup="dd-MMMM-yyyy" is-open="opened" show-button-bar="false" required />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</div>
			</div>
			<div>
				<label for="nbOfFreeSeats">Number of free seats: </label>
				<div class="styled-select">
					<select name="nbOfFreeSeats" ng-model="nbOfFreeSeats" required ng-options="i for i in [] | range:1:10"></select>
				</div>
			</div>
			<div>
				<button class="btn btn-default" id="btnAddTrip" ng-click="putTrip()"
					ng-disabled="!(tripInfo.car.$valid && tripInfo.start.$valid && tripInfo.end.$valid && tripInfo.date.$valid && tripInfo.nbOfFreeSeats.$valid)">Add Trip</button>
				<button class="btn btn-default" id="btnUpdateTrip" ng-click="postTrip()"
					ng-disabled="!(tripInfo.car.$valid && tripInfo.start.$valid && tripInfo.end.$valid && tripInfo.date.$valid && tripInfo.nbOfFreeSeats.$valid)">Update Trip</button>
			</div>
		</form>
	</article>
</section>