<section><!-- ng-controller="UserController"> -->
	<article id="info-user" ng-controller="getPerson">
		<h2>Profile info</h2>
		<nav>
			<ul>
				<li>
					<button class="btn btn-default" title="Update profile" ng-click="updateUser()">
						<img alt="Update profile" src="../img/update.svg" />
					</button>
				</li>
			</ul>
		</nav>
		<div class="well">
			<p>Username : <span ng-bind="user.username"></span></p>
			<p>Mail : <span ng-bind="user.mail"></span></p>
			<p>Phone number : <span ng-bind="user.phone"></span></p>
			<button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Show comment</button>
			<hr />
			<div collapse="isCollapsed">
				<h2>List of Comments</h2>
				<div class="well" ng-controller="getCommentsForUser">
					<div ng-repeat="comment in userComments | filter:q as results">
						<div class="content">
							<rating readonly="true" ng-model="comment.rating"></rating>
							<p ng-bind="comment.comments"></p>
						</div>
						<div class="btn-group-vertical">
							<button class="btn btn-default" ng-click="updateComment(comment.id, comment.trip.id)" title="Update comment">
								<img src="img/update.svg" alt="Update comment" />
							</button>
							<button class="btn btn-default" ng-click="popinDeleteComment(comment.id, comment.comments)" title="Delete comment">
								<img src="img/delete.svg" alt="Delete comment" />
							</button>
						</div>
					</div>
					<p class="well well-lg" ng-if="results.length == 0">
						<strong>You're never comment trip...</strong>
					</p>
				</div>
			</div>
		</div>
	</article>
	<article id="update-user">
		<h2>Profile update</h2>
		<form name="userInfo">
			<input name="oldPassword" type="hidden" ng-model="oldPassword" />
			<div>
				<label for="password">Password : </label>
				<input class="form-control" name="password" type="password" ng-model="password" />
			</div>
			<div>
				<label for="login">Confirmation password : </label>
				<input class="form-control" name="confirmPassword" type="password" ng-model="confirmPassword" />
				<img alt="errorPassword" src="../img/error.png" ng-show="password != confirmPassword">

			</div>
			<div>
				<label for="mail">E-mail : </label>
				<input class="form-control" name="mail" type="email" ng-model="mail" required />
			</div>
			<div>
				<label for="confirmMail">Confirmation e-mail : </label>
				<input class="form-control" name="confirmMail" type="email" ng-model="confirmMail" required />
				<img alt="errorMail" src="../img/error.png" ng-show="mail != confirmMail">
			</div>
			<div>
				<label for="phone">Phone number : </label>
				<input class="form-control" name="phone" ng-blur="printPhone()" ng-pattern="/^([0-9]{2}( )?){4}([0-9]{2})$/" type="text" ng-model="phone" required />
			</div>
			<div>
				<button ng-click="postUser()" class="btn btn-default"
					ng-disabled="!(((password == undefined && confirmPassword == undefined) || (userInfo.password.$valid && userInfo.confirmPassword.$valid && password == confirmPassword)) && userInfo.mail.$valid && userInfo.confirmMail.$valid && userInfo.phone.$valid && mail == confirmMail)">Update</button>
			</div>
		</form>
	</article>
</section>