<div>
	<div  class="input-group listTextBox" ng-repeat="element in array">
		<input class="form-control" id="listTextBox-element{{element.id}}" type="text" value="{{element.value}}" />
		<span class="input-group-btn" ng-if="$first">
			<button class="btn btn-default" ng-click="add()">+</button>
		</span>
		<span class="input-group-btn" ng-if="!$first">
			<button class="btn btn-default" ng-click="add()">+</button>
			<button class="btn btn-default" ng-click="remove(element.id)">-</button>
		</span>
	</div>
</div>