<!doctype html>
<html>
	<head>
		<script src="js/bower_components/angular/angular.js"></script>
		<script src="js/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<script src="js/bower_components/angular-route/angular-route.js"></script>
		<script src="js/bower_components/jQuery/dist/jquery.js"></script>
		<!-- Use jQuery cookies because to angular-cookies don't set path -->
		<script src="js/bower_components/jquery.cookie/jquery.cookie.js"></script>
		<script src="js/bower_components/ngDialog/js/ngDialog.js"></script>
		<script src="js/ui/listTextBox.js"></script>
		<script src="js/carpoolingUtils.js"></script>
		<script src="js/carpooling.js"></script>
		<script src="js/carpooling-user.js"></script>
		<script src="js/carpooling-car.js"></script>
		<script src="js/carpooling-trip.js"></script>
		<script src="js/carpooling-comment.js"></script>
		<link href="css/screen.css" rel="stylesheet" type="text/css">
		<link href="css/ngDialog.css" rel="stylesheet" type="text/css">
		<link href="css/ngDialog-theme-flat.css" rel="stylesheet" type="text/css">
		<script type="text/javascript">
			// Defined the root file to route AngularJs
			$('head').append('<base href="' + window.location.pathname + '" />');
		</script>
	</head>
	
	<body ng-app="CarpoolingApp">
		<header ng-controller="HeaderController" ng-class="{'nav-hidden': showNav}">
			<h1>Carpooling Web Application</h1>
			<div class="alert-box">
				<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
			</div>
			<nav ng-hide="showNav">
				<ul class="nav nav-tabs nav-justified">
					<li ng-class="{active: tabActive('user')}"><a href="carpooling/user">User</a></li>
					<li ng-class="{active: tabActive('car')}"><a href="carpooling/car">Car</a></li>
					<li ng-class="{active: tabActive('trip')}"><a href="carpooling/trip">Trip</a></li>
					<li ng-class="{active: tabActive('comment')}"><a href="carpooling/comment">Comment</a></li>
				</ul>
				<button class="btn btn-default" ng-click="disconnect()">Disconnect</button>
			</nav>
		</header>
		<section ng-view></section>
		<footer>
			<p>Powered by</p>
			<a href="https://angularjs.org/" title="AngularJS"><img src="img/angularjs.png" alt="AngularJS" /></a>
			<a href="http://getbootstrap.com/" title="Bootstrap"><img src="img/bootstrap.png" alt="Bootstrap" /></a>
			<a href="http://compass-style.org/" title="Compass"><img src="img/compass.png" alt="Compass" /></a>
			<p>&copy; Baptiste MARTIN - Fernando DIAZ ANGELES ORTEGA</p>
		</footer>
	</body>
</html>
