/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

html {
	header {
		padding: {
			top: 15px;
			left: 15px;
			right: 15px;
		}
		
		h1 {
			text-align: center;
		}
		
		nav {
			button {
				float: right;
				position: absolute;
				right: 10px;
				top: 10px;
			}
		}
		
		.alert-box {
			padding: {
				top: 2px;
				left: 15px;
				right: 15px;
				bottom: 2px;
			}
		}
	}
	
	section {
		min-height: 450px;
		padding: 15px;
		
		margin: {
			top: -8px;
			bottom: -8px;
		}
		
		border: {
			left: {
				style: solid;
				color: #CCCCCC;
				width: 1px;
			}
			right: {
				style: solid;
				color: #CCCCCC;
				width: 1px;
			}
		}
		
		article {
			h2 {
				text-align: center;
			}
		
			nav {
				.navbar-form {
					label {
						margin-top: 5px;
					}
					
					.form-control {
						width: 170px;
						margin-right: 8px;
					}
					
					.datepicker-field {
						margin: {
							right: 8px;
							top: auto;
						}
						width: 200px;
					}
					
					.navbar-right {
						margin: {
							right: auto;
							top: auto;
						}
					}
				}
			}
			
			.checkbox {
				margin-left: 20px;
			}
			
			.listTextBox {
				&:first-child {
					margin-top: 0px;
				}
				
				margin-top: 10px;
				
				.input-group-btn {
					.btn {
						width: 35px;
					}
				}
			}
			
			.styled-select {
				background: url(../img/select.png) no-repeat 99% 1px;
				overflow: hidden;
				border: 1px solid #ccc;
				border-radius: 4px;
				display: block;
				font-size: 14px;
				height: 34px;
				line-height: 1.42857;
				padding: 6px 12px;
				width: 100%;
				
				select {
					background: transparent;
					border: none;
					color: #555555;
					width: 102%;
					
					option {
						text-align: center;
					}
				}
			}
			
			form {
				> div {
					&:last-child {
						text-align: right;
						margin-top: 10px;
					}
				}
			}
		}
	}
	
	footer {
		background: none repeat scroll 0 0 #cccccc;
		bottom: 0;
		height: 102px;
		left: 0;
		right: 0;
		text-align: center;
		width: 100%;
		
		p {
			&:first-child {
				font-weight: bold;
			}
			
			font-style: italic;
		}
		
		a {
			margin: {
				left: 15px;
				right: 15px;
			}
			
			img {
				width: 150px;
			}
		}
	}
	
	&.ng-invalid {
		border-color: red;
	}
	
	.well {
		padding: 14px;
	}
	
	.btn-group-vertical {
		float: right;
	}
		
	.content {
		display: inline-block;
		min-height: 100px;
	}
	
	textarea {
		resize: none;
	}
}

.nav-hidden {
	border: {
		bottom: {
			style: solid;
			color: #CCCCCC;
			width: 1px;
		}
	}
	margin: {
		left: 16px;
		right: 16px;
	}
	padding-bottom: 16px;
}